table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.container-test{
    /*
    font-style: oblique;
    */
    border-radius: 0.5rem  ;
    border: solid 2pt #f5ba09;
    font-family: Algerian, serif;
    /*
    font-weight: bold;
    */
    height: 4rem;
    width: 40rem;
    text-align: left;
    text-decoration: aqua;
    font-size: larger;
    color: #313552;
    line-break: loose;
    text-shadow: red;
    /*
    background-color: cornflowerblue;
    */
    backdrop-filter: blur(20rem);
    background-image: linear-gradient(greenyellow,cyan);
    /*background-size: cover;*/
    background-repeat:repeat-y;
    cursor: crosshair;
    margin: 100px 200px 50px 2px;
    /*padding: 10px 200px 50px 2px;*/

}
/* practice 2.1 */
.btn{
    background-color: green;
}
h1{
    color: yellow;
}
.container-prac2\.1{
    text-align: center;
}
.container{
    border: solid 10px #313552;
}

#inline-element{
    border: solid 10px #313552;
}
#inline-element1{
    border: solid 10px #313552;
}
/* Flex box*/
.box{
    text-align: center;
    width: 200px;
    height: 200px;
/*    !*text-decoration: overline;*!
    font-size:40px;
    color: darkslateblue;
    !*line-height: 150px;*!
    !*text-shadow: 5px 2px mediumvioletred;*!
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    !*width: 800px;*!
    height: 880px;
    background-color: cornflowerblue;
    background-image: url("image.jpg");
    background-position: center;
    background-size: 1366px;
    background-repeat: no-repeat;*/


    /*font-size: 30px;*/

    /*font-family: sans-serif;*/
    /*float:right;*/
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow:row-reverse wrap;
    justify-content:flex-start;
    align-items: flex-end;

}

.box div{
    width: 50px;
    height: 50px;
    /*padding: 50px;*/
}
.red{
    background-color: red;


}

.green{
    background-color: green;


}

.yellow{
    background-color: yellow;


}

/* Overflow */
.container-overflow{
    border: rebeccapurple dashed 2px;
    width: 825px;
    height: 200px;
    display: flex;

}

.container-scroll {
    padding: 15px;
    border: 2px solid red;
    margin: 10px;

}
.scroll{
    overflow: scroll;
    width: 150px;
    height: 90px;
}

.container-visible{
    padding: 15px;
    border: 2px solid blueviolet;
    margin: 10px;

}
.visible{
    overflow: visible;
    width: 150px;
    height: 90px;
}

.container-hidden{
    padding: 15px;
    border: 2px solid greenyellow;
    margin: 10px;
}

.hidden{
    overflow: hidden;
    width: 150px;
    height: 90px;
}

.container-auto{
    padding: 15px;
    border: 2px solid  navajowhite;
    margin: 10px;
}

.auto{
    overflow: auto;
    width: 150px;
    height: 90px;
}

#hover:active{
color: blue;
}